{{ template "chart.header" . }}
{{ template "chart.badgesSection" . }}

{{ template "chart.deprecationWarning" . }}

:exclamation: This Helm Chart is deprecated!**

This chart will no longer be updated.
Old versions be still be available, but the source will be removed after 2023-12-31.

{{ template "chart.valuesSection" . }}
