name: Update external-dns-crds

on:
  pull_request:
    paths:
      - charts/external-dns-crds/Chart.yaml
      - .github/workflows/update-external-dns-crds.yml

permissions:
  contents: write

jobs:
  update-crds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.BOT_CHART_UPDATE_TOKEN }}

      - name: Remove files
        run: rm charts/external-dns-crds/templates/*

      - name: Download new files
        run: |
          # renovate: datasource=github-releases depName=kubernetes-sigs/external-dns
          export VERSION="0.20.0"

          curl --silent -Lo charts/external-dns-crds/templates/dnsendpoints.yaml https://raw.githubusercontent.com/kubernetes-sigs/external-dns/refs/tags/v${VERSION}/config/crd/standard/dnsendpoints.externaldns.k8s.io.yaml

      - name: Commit updated files
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          message: "chore(deps): update external-dns-crds"
          pull: "--rebase --autostash"
          author_name: Community Tooling Bot
          author_email: community-tooling@maurice-meyer.de
