name: Update kube-prometheus-stack CRDs

on:
  pull_request:
    paths:
      - charts/kube-prometheus-stack-crds/Chart.yaml

permissions:
  contents: write

jobs:
  update-crds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.BOT_CHART_UPDATE_TOKEN }}

      - name: Remove CRDs
        run: rm charts/kube-prometheus-stack-crds/templates/*

      - name: Get current chart version
        id: chart_version
        run: |
          echo "CHECKOUT_REF=$(sed '/^version:/!d;s/version: //' charts/kube-prometheus-stack-crds/Chart.yaml)" >> $GITHUB_OUTPUT

      - name: Check out prometheus-community/helm-charts
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: prometheus-community/helm-charts
          ref: "kube-prometheus-stack-${{ steps.chart_version.outputs.CHECKOUT_REF }}"
          path: kube-prometheus-stack-upstream

      - name: Copy CRDs
        run: cp kube-prometheus-stack-upstream/charts/kube-prometheus-stack/charts/crds/crds/* charts/kube-prometheus-stack-crds/templates/

      - name: Remove kube-prometheus-stack upstream clone
        run: rm -r kube-prometheus-stack-upstream

      - name: Commit updated CRDs
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          message: "chore(deps): update kube-prometheus-stack CRDs"
          add: "charts/kube-prometheus-stack-crds/templates/*"
          pull: "--rebase --autostash"
          author_name: Community Tooling Bot
          author_email: community-tooling@maurice-meyer.de
